#breadcrumb {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 2;
}

#breadcrumb ul.breadcrumbUl {
	list-style-type: none;
}

#breadcrumb ul.breadcrumbUl li {
	float: left;
	margin-left: 5px;
}

#breadcrumb ul.breadcrumbUl li span{
	display: block;
	width: 10px;
	height: 5px;
	border-radius: 2px;
	background: #dcdcdc;
	margin-bottom: 2px;
}

#breadcrumb ul.breadcrumbUl li span.on{
	background: #ec912b;
}

.breadcrumbNavBg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 0px;
	background: #000000;
	z-index: 10000;
	opacity: 0;
	transition: opacity .5s;
}

.breadcrumbNavBg.active {
	min-height: 768px;
	opacity: 0.8;
}

.breadcrumbNavBg.height {
	min-height: 768px;
}

.breadcrumbNavWrapper {
	position: absolute;
	top: 110px;
	left: 0;
	width: 100%;
	height: 600px;
	z-index: 10001;
	-webkit-transform: translate(0,659px);
	transform: translate(0,659px);
	transition: all .5s;
	overflow: hidden;
}

.breadcrumbNavWrapper.active {
	-webkit-transform: translate(0);
	transform: translate(0);
}

.breadcrumbNav{
	position: absolute;
	top: 15px;
	left: 20px;
	white-space: nowrap;
	padding-right: 20px;
	width: 1024px;
}


.navColumn {
	display: inline-block;
	width: 190px;
	height: 100%;
	float: left;
}

.navLink {
	display: inline-block;
	float: left;
}

.navLink img {
	max-width: 175px;
	max-height: 131px;
}